.s1-main{
    display: flex;
    gap: 100px;
}

.btn1{
    display: flex;
    justify-content: center;
}

.slider{
    width: 100%;
}

.bg{
    width: 100%;
}
h1{
   text-align: center;
}